<h1>All cats</h1>
<ul>
<% @cats.each do |cat| %>
  <li>
    <%= link_to cat.name, cat_url(cat.id)  %>
  </li>
<% end %>
</ul>

<br />

<%= link_to "New Cat!!!!", new_cat_url %>
<br>

 <%= link_to "Rental request", new_cat_rental_request_url %> 
